.bgmain {
    background-image: url('assets/main-bg.jpg');
    height: 100vh;
    background-size: cover;
}

.navSudut {
    padding-left: 200px;
}

.navbar-brand {
    justify-content: center;
    margin-left: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

letter-spacing: 0.1em;
}

.nav-item {
    padding-right:15px;
    padding-left:15px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
}
.navbar {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

.row-style {
    background-color:  rgba(0, 0, 0, 0.75);
}

.row-style2 {
    margin-top: 200px;
}

.row-style2 h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 83px;
    letter-spacing: 3px;
    
}

.row-style2 h6 {
    margin-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.row-style2 button {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 4px;
    text-transform: uppercase;
}

.row-style2 .history {
    margin-top: 170px;

}

.history a {
    color: white;
}

@media (max-width: 720px) {
    .bgmain {
        height: 1300px;
        
    }
}

/* game_gallery */
.bgmain2 {
    background-image: url('assets/the-games-bg.jpg');
    height: 100vh;
    background-size: cover;
}

.row-style3  {
    padding-top: 200px;
    color: white;
    padding-left: 100px;
    
}

.row-style3 .col-md-4 {
    color: white;
}

.row-style3 .col-md-8 {
    justify-content: center;
    margin-top: 40px;
    color: white;
    
}

.row-style3 h6 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

}

.row-style3 h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;

}

.colSudut {
    padding-right: 100px;
}

.carousel-control-prev {
    margin: -80px;
}

.carousel-control-next {
    margin: -80px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
